div.aside-container{
    min-width:400px;
    padding: 50px 25px;
    background-color:var(--main-color);
    height: 100vh;
}
div.title{
    padding-bottom: 20px;
}
div.title h1{
    font-weight: bold;
    color: #FFFF;
}
div.aside-items{
    margin-bottom: 20px;
}