.manager{
    padding: 50px;
    min-height: 100vh;
    width: 100%;
    max-width: 1200px;
    margin: 0 auto;
}

.header{
    padding-left: 20px;
}
.manager .header h2{
    font-weight: 700;
    color: #82849e;
}

.manager .empty-msg{
    color: #82849e;
}
.manager .header h2:hover{
    color: var(--acenture-color);
    cursor: pointer;
}
.manager .header h2.active{
    color:var(--acenture-color)
}
div.tasks-events{
    margin-top: 40px;
}